<div class="mat-app-background basic-container">
    <button mat-button [matMenuTriggerFor]="aboveMenu"> Learn Angular </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item routerLink="data-binding"> Data Binding </button>
        <button mat-menu-item routerLink="directive"> Directive </button>
        <button mat-menu-item routerLink="pipe"> Pipe </button>
        <button mat-menu-item routerLink="service"> Service </button>
        <button mat-menu-item routerLink="view-child"> View Child </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu"> Important Topics </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="file-upload"> File Upload </button>
    </mat-menu>

    <!-- <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu> -->
</div>