<app-header></app-header>
<hr>

<h2 style="color: green;"> App component </h2>
<hr>

<h2 style="color: blue;"> Showing component (Login) by module </h2>
<app-login></app-login>
<hr>

<h2 style="color: blue;"> Data Binding </h2>
<h3 style="color: green;"> 1. String Interpolation </h3>
<p> string1 ->> {{string1}} </p>
<p> array1 ->> {{array1}} </p>
<p> array1[0] ->> {{array1[0]}} </p>
<p> object ->> {{object1 | json}} </p>
<p> title ->> {{this.getTitle()}}</p>
<hr>
<h3 style="color: green;"> 2. Property Binding </h3>
<input type="text" disabled={{disabled}}> Without Property Binding
<br>
<input type="text" [disabled]=disabled> With Property Binding
<hr>
<button (click)="on_change_color()"> Change below paragraph style.color on click </button>
<p [style.color]="color"> style property binding </p>
<hr>
<h3 style="color: green;"> 3. Event Binding </h3>
<button (click)="click_fun('hello from click function')"> click event binding </button>
<br>
<button (mouseenter)="mouseenter_fun('hello from mouseenter function')"> mouseenter event binding</button>
<br>
<input type="text" #first_name (keyup)="on_key_press($event)" placeholder="keyup event binding">
<br>
<button (click)="getTextBoxValue(first_name)"> Get textbox value </button>
<hr>
<h3 style="color: green;"> 4. Two way Binding </h3>
<br>
<input type="text" [(ngModel)]="username"> {{username}}
<br>
<button type="button" [disabled]="!username"> Username </button>
<hr>

<h2 style="color: blue;"> Pass data from parent to child (custom property binding) </h2>
<button type="button" (click)="updateHeroes()"> Update Heros </button>
<app-users [var1]="heros"></app-users>
<hr>

<h2 style="color: blue;"> Pass data from child to parent (custom event binding) & child1 to child2</h2>
<app-child (functionVar)="pass_data_from_child_to_parent($event)" (functionVar2)="passDataFromChildToParent2($event)">
</app-child>
<p> data from child to parent ->> {{dataFromChildToParent | json}}</p>
<app-child2 [var2]="dataFromChildToParent2"> </app-child2>
<hr>

<h2 style="color: blue;"> Directive </h2>
<h3 style="color: green;"> 1. *ngIf </h3>
<p *ngIf=showHiddenText> Hidden Text </p>
<hr>
<h3 style="color: green;"> 2. *ngIf if/else</h3>
<p *ngIf="showHiddenText; then if_block else else_block"></p>
<p *ngIf="showHiddenText && title=='youtube1' then if_block else else_block"></p>
<ng-template #if_block>
    <p> If Block </p>
</ng-template>
<ng-template #else_block>
    <p> Else Block </p>
</ng-template>
<hr>
<h3 style="color: green;"> 3. *ngSwitch </h3>
<div [ngSwitch]="color">
    <p *ngSwitchCase="'yellow'" style="color: yellow"> Yellow color</p>
    <p *ngSwitchCase="'green'" style="color: green;"> Green color</p>
    <p *ngSwitchDefault style="color: red;"> Red color</p>
</div>
<hr>
<h3 style="color: green;"> 4. *ngFor </h3>
<p *ngFor="let person of persons">{{person.name}} -> {{person.email}}</p>
<hr>
<h3 style="color: green;"> 5. ngStyle </h3>
<p [ngStyle]="{'color': 'orange'}"> orange color </p>
<hr>
<h3 style="color: green;"> 5. ngClass </h3>
<p [ngClass]="{'class1':true}"> orange color </p>
<hr>
<h3 style="color: green;"> 6. ngContent </h3>
<app-child2>
    <p #contentChild1> This will get embed in child2 component by ng-content directive </p>
</app-child2>
<hr>
<h3 style="color: green;"> 7. Custom style Directive </h3>
<p> No color (Default behavior) </p>
<p appCustomStyle> Green color from Custom style Directive </p>
<hr>

<h2 style="color: blue;"> ngForm </h2>
<form #userForm="ngForm" (ngSubmit)="on_form_submit(userForm.value)">
    <input ngModel type="text" placeholder="Your first name" name="first_name"><br>
    <input ngModel type="text" placeholder="Your last name" name="last_name"><br>
    <input ngModel type="text" placeholder="Your email" name="email"><br>
    <input ngModel type="text" placeholder="Your contact number" name="contact"><br>
    <button type="submit"> Submit Form </button>
</form>
<hr>

<h2 style="color: blue;"> @ViewChild </h2>
<input #input1 type="text">
<br>
<button (click)="onViewChild()"> View input value </button>
<br>

<h2 style="color: blue;"> Bootstrap </h2>
<p>
    <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
</p>

<div class="btn-group btn-group-toggle">
    <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
    </label>
    <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
    </label>
    <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
    </label>
</div>
<hr>
<pre>{{model | json}}</pre>
<hr>

<h2 style="color: blue;"> Routing </h2>
<a routerLink="users"> Go to Users </a>
<br>
<a routerLink="child"> Go to Child </a>
<router-outlet> </router-outlet>
<hr>

<h2 style="color: blue;"> Pass data in routing</h2>
<a routerLink="details/1"> Go to User 1 </a>
<br>
<a routerLink="details/2"> Go to User 2 </a>
<br>
<a routerLink="details/3"> Go to User 3 </a>
<br>
<a routerLink="details/4"> Go to User 4 </a>
<router-outlet> </router-outlet>
<hr>

<h2 style="color: blue;"> Call GET API with method </h2>
<button (click)="callGETAPI()"> Call GET API </button>
<ul>
    <li *ngFor="let post of posts">{{post.id}} -> {{post.title}}</li>
</ul>
<hr>

<h2 style="color: blue;"> Call service by method </h2>
<button (click)=" call_service_method() "> Call Service by Method </button>
<hr>

<h2 style="color: blue;"> Call REST API with service </h2>
<button (click)="call_api_with_service()"> Call REST API with service </button>
<ul>
    <li *ngFor=" let postCallAPIWithService of postsCallAPIWithService ">
        {{postCallAPIWithService.id}} -> {{postCallAPIWithService.title}}</li>
</ul>
<hr>

<h2 style="color: blue;"> Call Modal With Interface </h2>
<button (click)=" callModalWithInterface() "> Call Modal With Interface </button>
<hr>

<h2 style=" color: blue; "> Pipes </h2>
<p> String -> {{strPipe | uppercase}}</p>
<p> Date -> {{datePipe | date}}</p>
<hr>

<h2 style="color: blue;"> Template driven Form </h2>
<!-- <div class="col-sm-6"> -->
<form #templateDrivenForm="ngForm" (ngSubmit)="onTemplateDrivenFormSubmit(templateDrivenForm.value)">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input required #email="ngModel" [ngModel]="user1.email" name="email" type="email" class="form-control" placeholder="Enter email">
        <small *ngIf="email.invalid && email.touched" class="error">Email is required</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input required #password="ngModel" [ngModel]="user1.password" name="password" type="password" class="form-control" placeholder="Password" minlength="4">
        <small *ngIf=" password.invalid && password.touched " class=" error ">Password is invalid</small>
    </div>
    <button type=" submit " class="btn btn-primary"> Submit Template Driven Form </button>
</form>
<!-- </div> -->
<hr>

<h2 style="color: blue;"> Reactive Form </h2>
<form [formGroup]="ReactiveForm" (ngSubmit)="onReactiveFormSubmit()">
    <input formControlName="email" type="email" placeholder="email"> {{email2.invalid}} && {{email2.touched}}
    <small *ngIf="email2.invalid && email2.touched" class="error">Email is required</small>
    <br>
    <input formControlName="password" type="password" placeholder="password">{{password2.invalid}} && {{password2.touched}}
    <small *ngIf="password2.invalid && password2.touched" class="error">Password is required</small>
    <br>
    <button type="submit" [disabled]="ReactiveForm.invalid"> Submit Reactive Form </button> {{ReactiveForm.invalid}}
</form>
<hr>

<h2 style="color: blue;"> File upload with material UI </h2>
<div style="text-align:center;">
    <mat-card style="margin-top:10px; width: 50%; background-color: lightblue">
        <mat-card-content>
            <ul>
                <li *ngFor="let file of files">
                    <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                    <span id="file-label">
                    </span>
                </li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="warn" (click)="onImageUpload()">
                <mat-icon>file_upload</mat-icon>
                Upload
            </button>
        </mat-card-actions>
    </mat-card>
    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
</div>
<hr>

<h1 style="color: blue;"> Virtual Scroll </h1>
<div class="container">
    <button (click)="generateVirtualScroll()"> Generate Virtual Scroll </button>
    <ul>
        <cdk-virtual-scroll-viewport style="height: 500px" itemSize="2">
            <ng-container *cdkVirtualFor="let n of numbers">
                <li> {{n}} </li>
            </ng-container>
        </cdk-virtual-scroll-viewport>
    </ul>
</div>
<hr>

<h1 style="color: blue;"> Generic Components </h1>
<app-input [type]="'text'" [placeholder]="'Enter name'"></app-input>
<br>
<app-input [type]="'password'"></app-input>
<br> {{ReactiveForm.invalid}} <br>
<app-button [type]="'submit'" [disabled]="false" [buttonName]="'Submit Reactive Form 2'"> </app-button>
<br>
<hr>

<app-footer></app-footer>