<app-header></app-header>
<h1>Main component</h1>
<app-users [heros]="heros"></app-users>
<app-child (callParentFunction)="pass_data_from_child_to_parent($event)">
</app-child>
<app-login></app-login>

<h2 style="color: blue;">Interpolation starts</h2>
<h3>{{string1}}</h3>
<h3>
  <<<<< {{array1}}>>>>> {{array1[0]}} >>>>>
</h3>
<h2>Interpolation ends</h2>

<h2 style="color: blue;">Function call starts</h2>
<button (click)="click_fun('hello from click function')"> click me</button>
<button (mouseenter)="mouseenter_fun('hello from mouseenter function')">On mouseenter / hover</button>
<h2>Function call ends</h2>

<h2 style="color: blue;">get text box value starts</h2>
<input type="text" #first_name (keyup)="on_key_press($event)">
<button (click)="on_submit(first_name)">Submit</button>
<h2>get text box value ends</h2>

<h2 style="color: blue;">Property Binding starts</h2>
<input type="text" disabled={{disabled}}><br>
<input type="text" [disabled]=disabled> Property Binding
<h2>Property Binding ends</h2>

<h2 style="color: blue;">*ngIf starts</h2>
<h3 *ngIf=showHiddenText>Hidden Text</h3>
<h2>*ngIf ends</h2>

<h2 style="color: blue;">*ngIf if/else starts</h2>
<h3 *ngIf="showHiddenText; then if_block else else_block"></h3>
<h3 *ngIf="showHiddenText && title=='youtube1' then if_block else else_block"></h3>
<ng-template #if_block>
  <h3>If Block</h3>
</ng-template>
<ng-template #else_block>
  <h3> Else Block </h3>
</ng-template>
<h2>*ngIf if/else ends</h2>

<h2 style="color: blue;">*ngSwitch starts</h2>
<div [ngSwitch]="color">
  <h4 *ngSwitchCase="'yellow'" style="color: yellow"> Yellow color</h4>
  <h4 *ngSwitchCase="'green'" style="color: green;"> Green color</h4>
</div>
<h2>*ngSwitch ends</h2>

<h2 style="color: blue;"> *ngFor starts </h2>
<h3 *ngFor="let person of persons">{{person.name}} -> {{person.email}}</h3>
<h2> *ngFor ends </h2>

<h2 style="color: blue;">ngForm starts</h2>
<form #userForm="ngForm" (ngSubmit)="on_form_submit(userForm.value)">
  <input ngModel type="text" placeholder="Your first name" name="first_name"><br>
  <input ngModel type="text" placeholder="Your last name" name="last_name"><br>
  <input ngModel type="text" placeholder="Your email" name="email"><br>
  <input ngModel type="text" placeholder="Your contact number" name="contact"><br>
  <button type="submit">Submit</button>
</form>
<h2>ngForm ends</h2>

<h2 style="color: blue;">Dynamic style starts</h2>
<h3 [style.color]="color"> Change my color by click on below button</h3>
<button (click)="on_change_color()">Change color</button>
<h2>Dynamic style ends</h2>

<h2 style="color: blue;">Bootstrap starts</h2>
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>

<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
  </label>
</div>
<hr>
<pre>{{model | json}}</pre>
<h2>Bootstrap ends</h2>


<app-footer></app-footer>